 .advy{
            width: 500px;
            height: 300px;
            margin-left:10px;
}
.advy h2{
           text-align: center;
    color: lightseagreen;
}
.advy ul li{
    font-size: 25px;
    color: grey;
    margin-left: 20px;
}
.door1{
    background-image: url(../image/123.png);
    background-repeat: no-repeat;
}
.door1:hover{
    background-image: url(../image/math.png);
    background-repeat: no-repeat;
}
.door2{
    background-image: url(../image/semi-colon.png);
    background-repeat: no-repeat;
}
.door2:hover{
    background-image: url(../image/coding.png);
    background-repeat: no-repeat;
}