.door1{
    background-image: url(../image/123.png);
    background-repeat: no-repeat;
}
.door1:hover{
    background-image: url(../image/math.png);
    background-repeat: no-repeat;
}
.door2{
    background-image: url(../image/semi-colon.png);
    background-repeat: no-repeat;
}
.door2:hover{
    background-image: url(../image/coding.png);
    background-repeat: no-repeat;
}
.door3{
    background-image: url(../image/iq.png);
    background-repeat: no-repeat;
}
.door3:hover{
    background-image: url(../image/iqiqiq.png);
    background-repeat: no-repeat;
}
.door4{
    background-image: url(../image/globaloo.png);
    background-repeat: no-repeat;
}
.door4:hover{
    background-image: url(../image/globalo.png);
    background-repeat: no-repeat;
}

.parallax{
    /* The image used */
    background-image: url(../image/games.png);
}